/* Font */
@font-face {
    font-display: swap;
    font-family: font;
    font-weight: 400 700;
    src: url("./font.woff2");
}
body {
    font: 400 16px/1.2 font, sans-serif;
}
.sq {
    line-height: 0.9;
}
.result,
p {
    letter-spacing: 0.03em;
}
.panel {
    line-height: 1.33;
}
p {
    line-height: 1.95;
}
.x,
.alt {
    line-height: 1.5;
}

/* General */
html,
body {
    height: 100dvh;
    overflow: clip;
    position: fixed;
    width: 100dvw;
}
body,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}
body,
.result:has(.match),
.match,
.panel {
    display: grid;
    place-items: start center;
}
body,
.circle,
.screen::after {
    background: #000;
}
body {
    color: #fff;
    cursor: default;
    grid: 32% 40% 28% / 20% 60% 20%;
    text-align: center;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}
.sq,
.result span,
.panel li,
p {
    border-radius: 0.2em;
}
.sq,
.panel,
.help {
    font-weight: 500;
}
.result,
p {
    background: #444;
    border: 1px solid #fff9;
}
ul,
ol {
    list-style: none;
    white-space: nowrap;
}
.speaker,
.error {
    font-size: 1.6em;
}
.result:has(.match)::before,
.esc::after,
.screen::after {
    content: "";
}
.result:has(.match)::before,
ol li::before,
.screen::after {
    position: absolute;
}
.result,
.circle,
.esc::after,
.screen {
    position: relative;
}
.error {
    font-family: monospace;
    margin: 4em 0 0;
}
.none {
    display: none;
}

/* Placement */
.x {
    grid-area: 1 / 1;
    margin: 16px 0 0 16px;
    place-self: start;
}
.speaker,
.error {
    grid-area: 1 / 2;
}
.alt {
    grid-area: 1 / 3;
    margin: 16px 16px 0 0;
    place-self: start end;
}
.sq,
.result,
.panel {
    grid-area: 2 / 2;
}
.help,
.esc {
    grid-area: 3 / 1;
    margin: 0 0 16px 16px;
    place-self: end start;
}
.circle {
    grid-area: 3 / 2;
    margin: 0 0 16px;
    place-self: end center;
}
.screen {
    grid-area: 3 / 3;
    margin: 0 16px 16px 0;
    place-self: end;
}

/* Task */
.sq {
    font-size: 22em;
    height: 0.7em;
    margin-top: -8vh;
    width: 0.7em;
}
.sq.color {
    margin-top: -3vh;
}
.char::after {
    content: var(--stm);
}
.color {
    background: var(--stm);
}
.sq.char,
.sq.color {
    animation: stm var(--time) step-end;
}
@keyframes stm {
    100% {
        background: unset;
    }
}
.result {
    border: 0.1em solid;
    border-radius: 0.8em;
    box-shadow: 0 0 6em #666, 0 0 2em #ccc;
    font-size: 1.2em;
    height: 11em;
    margin-top: -3.2em;
    min-width: 18.152em;
}
.result li {
    font-size: 1.7em;
    font-weight: 640;
    margin: 0.56em 1.2em;
    text-shadow: 0.12em 0.09em 0 #000;
    white-space: pre;
}
.result li:first-child {
    font-size: 2em;
    margin: 0.6em 1em 0;
}
.complete {
    color: #2b2;
}
.result .match {
    gap: 0.65em 0.13em;
    grid: auto / repeat(var(--match), 0.9em);
    margin: 0.6em 1.2em 0.8em;
}
.result li.match:has(.color) {
    margin-top: 0.7em;
    row-gap: 0.75em;
}
.result span {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.result .color {
    height: 1.1em;
}
.result span:last-child {
    color: #f00;
}
.result:has(.match)::before {
    background: #fff;
    box-shadow: 0.17em 0.17em 0 #000;
    height: 2px;
    top: 7.12em;
    width: 60%;
}

/* Controls */
.circle {
    --circ: 9.75em;
    border: 1.2em solid;
    border-radius: 50%;
    box-sizing: border-box;
    height: var(--circ);
    width: var(--circ);
    z-index: 5;
}
.panel {
    --btn: 112px;
    font-size: 5.15em;
    gap: 0.4em 0.5em;
    grid: auto / repeat(var(--clms), 1fr);
    margin-top: -15vh;
}
.panel li {
    background: #444;
    border: 2px solid #000;
    height: var(--btn);
    width: var(--btn);
}
.panel .color {
    background: var(--stm);
}
.esc {
    padding: 0.2em 0.2em 0 0;
}
.esc::after {
    background: #f00;
    clip-path: polygon(
        15% 0,
        0 15%,
        35% 50%,
        0 85%,
        15% 100%,
        50% 65%,
        85% 100%,
        100% 85%,
        65% 50%,
        100% 15%,
        85% 0,
        50% 35%
    );
    display: block;
    height: 2em;
    width: 2em;
}
p {
    font-size: 1.9em;
    text-shadow: 0.08em 0.08em 0 #000;
}
ol {
    counter-reset: ol;
    font-size: 0.83em;
    font-weight: 400;
    line-height: 1.7;
    margin: 0.55em 1.7em 0.9em 2.6em;
    text-align: left;
}
ol li::before {
    content: counter(ol) ".";
    counter-increment: ol;
    margin-left: -1.7em;
    text-align: right;
    width: 1em;
}
.x,
.alt {
    height: 1.6em;
    width: 4.8em;
}
.speaker {
    margin: 16px 0 0;
}
.help {
    font-size: 1.5em;
    min-height: 2em;
    min-width: 2.1em;
    z-index: 10;
}
.screen {
    border: 4px solid #999;
    box-sizing: border-box;
    height: 32px;
    transform-origin: bottom right;
    width: 32px;
    z-index: -1;
}
.screen::after {
    clip-path: polygon(
        0 31%,
        31% 31%,
        31% 0,
        69% 0,
        69% 31%,
        100% 31%,
        100% 69%,
        69% 69%,
        69% 100%,
        31% 100%,
        31% 69%,
        0 69%
    );
    height: 34px;
    left: -5px;
    top: -5px;
    width: 34px;
}
:is(.circle, .screen).active {
    border-color: #444;
}
:is(.char, p).active {
    border-color: #04d;
}
.char.active {
    color: #000;
}
.color.active {
    opacity: 0.4;
}
.esc.active::after {
    background: #444;
}
p.active,
p.active ol {
    color: #999;
}

/* Media */
@media (orientation: portrait) {
    .sq {
        margin-top: -3.5vh;
    }
    .sq.color {
        margin-top: 0;
    }
    .panel {
        margin-top: -11vh;
    }
}
@media (max-width: 1700px) {
    .sq {
        font-size: 18em;
    }
    .result {
        font-size: 1em;
    }
    .circle {
        --circ: 7.5em;
        border-width: 0.94em;
    }
    .panel {
        --btn: 96px;
        font-size: 4.4em;
    }
    .esc::after {
        height: 1.5em;
        width: 1.5em;
    }
    p {
        font-size: 1.5em;
    }
    .speaker,
    .error {
        font-size: 1.3em;
    }
    .help {
        font-size: 1.2em;
    }
    .screen {
        scale: 0.8125;
    }
}
@media (max-width: 1599px) {
    .sq {
        font-size: 17em;
    }
    .panel {
        --btn: 88px;
        font-size: 4em;
    }
}
@media (max-width: 1020px) {
    .sq {
        font-size: 12em;
    }
    .result {
        font-size: 0.84em;
    }
    .circle {
        --circ: 5.875em;
        border-width: 0.74em;
    }
    .panel {
        --btn: 72px;
        font-size: 3.35em;
    }
    p {
        font-size: 1.4em;
    }
}

